/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styling start */

:root{
  --main-lines-color: white;
  --on-hover-color: #333;
  --highlight-color: sandybrown;
  --panel-padding-color: rgba(51, 51, 51, 0.85);

  --working: violet;
  /* var(--on-hover-color) */
}
body{
  background-image: linear-gradient( 180.3deg,  rgba(214,224,255,1) 37.2%, rgba(254,168,168,1) 137.3% );
  height: 75vh;
  margin-top: 25vh;
}
#video-container{
  display: flex;
  margin-left: 25%;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  border: 3px solid var(--working);
}
#video{
  object-fit: fill;
  max-width: 100%;
}
.control-panel{
  background-color: var(--panel-padding-color);
  display: flex;
}

/* BUTTONS DESIGN */
/* PLAY PAUSE BUTTON START */

.btn {
  position: relative;
  min-width: 40px;
  height: 40px;
  border: var(--main-lines-color) 3px solid;
  border-radius: 3px;
  cursor: pointer;
  transition: border 0.1s ease-in-out;
}
.btn:hover {
  border: var(--on-hover-color) 3px solid;
}
.btn:active {
  background-color: var(--highlight-color);
}
.btn:hover .bar {
  background-color: var(--on-hover-color);
}
.btn .bar {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 3px;
  height: 20px;
  border-radius: 3px;
  background-color: var(--main-lines-color);
  transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}
.btn.pause .bar-1 {
  transform: translateX(13.5px) translateY(0px) rotate(0deg);
}
.btn.pause .bar-2 {
  transform: translateX(24px) translateY(0px) rotate(0deg);
}
.btn.play .bar-1 {
  transform: translateX(20px) translateY(-5px) rotate(-55deg);
}
.btn.play .bar-2 {
  transform: translateX(20px) translateY(5px) rotate(-125deg);
}
/* PLAY PAUSE BUTTON START */

/* STOP PAUSE BUTTON START */
.btn.stop .bar-3 {
  transform: translateX(9.5px) translateY(0px) rotate(0deg);
}
.btn.stop .bar-4 {
  transform: translateX(26.5px) translateY(0px) rotate(0deg);
}
.btn.stop .bar-5 {
  transform: translateX(18px) translateY(-9px) rotate(90deg);
}
.btn.stop .bar-6 {
  transform: translateX(18px) translateY(10px) rotate(90deg);
}
.btn.stop-active .bar-3 {
  transform: translateX(18px) translateY(10px) rotate(90deg);
}
.btn.stop-active .bar-4 {
  transform: translateX(9.5px) translateY(0px) rotate(0deg);
}
.btn.stop-active .bar-5 {
  transform: translateX(26.5px) translateY(0px) rotate(0deg);
}
.btn.stop-active .bar-6 {
  transform: translateX(18px) translateY(-9px) rotate(90deg);
}
/* STOP PAUSE BUTTON END */

/* PROGRESS BAR */

.progress-bar {
  min-width: 100%;
  height: 2rem;
}

/* .progress-bar-container:hover .progress-bar{
  background-color: var(--on-hover-color);
} */

/* PROGRESS BAR END*/

/* VOLUME PROGRESS BAR */

.volume-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 40%;
}
.volume-progress {
  width: 0px;
  border-radius: 0 0 5px 5px;
  transition: width 1s cubic-bezier(0.25, 0.1, 0, 1.35);
}
progress::-webkit-progress-value {
  background: var(--highlight-color);
}

.volume-container:hover .volume-progress {
  width: 100%;
}
/* VOLUME PROGRESS BAR END */

/* SUBMENU */
/* REWIND BUTTONS */
.backward-container {
}
.forward-container {
}
.expand-container {
}
.submenu{
  display: flex;
  margin-left: auto;
}
/* EXPAND BUTTON END */


